<meta charset="utf-8">
<div class="row">
	<div class="small-12 columns">
		<div class="panel">
			<div class="row">
				<div class="small-12 columns">
					<span class="label">Trips</span>
				</div>
			</div>
			<div class="row">
				<div class="small-12 columns">
					<ul class="button-group radius ">
						<li>Select Crew </li>
						<li> 
							<select id="selCrew">
								<option value="1">ZBRA</option>
								<option value="2">스드스</option>
							</select>
						</li>
					</ul>
					<ul class="button-group radius right">
						<li><div role="button" id="btnAddExpItem"
							class="button tiny">
							Add</div></li>
						<li><div role="button" id="btnModExpItem"
							class="button tiny secondary">Modify</div></li>
						<li><div role="button" id="btnDelExpItem"
							class="button tiny secondary">Delete</div></li>
					</ul>
				</div>
			</div>
			<div class="row" style="max-height: 500px;overflow: hidden;position: relative;">
				<div class="small-12 columns" style="margin-bottom: 20px;overflow: auto;height: 300px;">
					<table class="display" id="gridTrips" style="width:100%">
					    <thead>
					    </thead>
					    <tbody>
					    </tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="small-12 columns">
					<ul class="button-group radius right">
						<li><div role="button inrow" id="btnTripSave"
							class="button small right">
							Save</div></li>
						<li><div role="button inrow" id="btnTripNext"
							class="button small warning right">
							Next</div></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
